{% extends "base.twig" %}

{% import "macros/flexForm.twig" as flexForm %}

{% block title %}Register{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/pages/account/account.css">
    <script src="/pages/account/register.js"></script>
{% endblock %}

{% block content %}
    <div id="createDiv" class="section">
        <div class="centerSection">
            <div class="mainHeaderDiv">
                <span class="mainHeader">Register Account</span>
            </div>
            <div class="content">
                <form id="createForm" class="flexForm">
                    {{ flexForm.input('Username', 'createUsername', 'text') }}
                    {{ flexForm.input('Password', 'createPassword', 'password') }}
                    {{ flexForm.input('Confirm Password', 'createConfirmPassword', 'password') }}
                    {{ flexForm.input('Email', 'createEmail', 'text') }}
                    {{ flexForm.input('Confirm Email', 'createConfirmEmail', 'text') }}
                    {{ flexForm.input('Summoner Name', 'createSummoner', 'text', null, null, 'Used as a default on the home page. Optional') }}
                    {{ flexForm.input("Region", "createRegion", "select", null, "North America", 'Used as a default on the home page.', RegionList) }}
                    {{ flexForm.button('Create Account', 'createButton') }}
                </form>
                
                <div id="createSuccess" style="display:none;">
                    <i class='fas fa-check-circle'></i> Registration Successful.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dialog %}
    <div id="createDialogBox" title="Error">
        <div id="createDialogMessage">
        </div>
    </div>
{% endblock %}