{% extends "base.twig" %}

{% import "macros/flexForm.twig" as flexForm %}

{% block title %}Reset Password{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/pages/account/account.css">
    <script src="/pages/account/account.js"></script>
{% endblock %}

{% block content %}
    <div id="resetDiv" class="section">
        <div class="centerSection">
            <div class="mainHeaderDiv">
                <span class="mainHeader">Reset Password</span>
            </div>
            <div class="content">
                <form id="resetForm" class="flexForm">
                    {{ flexForm.input('Username', 'resetUsername', 'text') }}
                    {{ flexForm.input('New Password', 'resetPassword', 'password') }}
                    {{ flexForm.input('Confirm Password', 'resetConfirmPassword', 'password') }}
                    {{ flexForm.hiddenInput('resetToken', token) }}
                    {{ flexForm.button('Reset Password', 'resetButton') }}
                </form>
                <div id="resetMessage"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dialog %}
{% endblock %}