<!DOCTYPE html>

{% import "macros/flexForm.twig" as flexForm %}

<html>
<head>
    <title>{% block title %}{% endblock %} - Gatriex</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/gatriex.css">
    <script src="/jquery-ui-1.12.1.custom/jquery.js"></script>
    <script src="/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
    <script src="/jquery-validation-1.17.0/dist/additional-methods.min.js"></script>
	<script src="/js/twig.js"></script>
    <script src="/js/dataRequester.js"></script>
    <script src="/js/dialog.js"></script>
    <script src="/js/checkbox.js"></script>
    <script src="/js/account.js"></script>
    <script src="/js/date.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
	<input id="twig_options" type="hidden" value="{{ _context|json_encode() }}">
    <div id="wrapper">
        <div id="inner-wrapper">
            <div id="header">
                <div id="headerLogoDiv">
                    <a href="/"><img src="/images/Logo.png" /></a>
                </div>
                <div id="headerLeftDiv">

                    <div id="headerLeftText">
						<div>
							<a class="headerLink" href="/"><i class="fa fa-fw fa-home"></i><span class="headerLinkText">Home</span></a><a class="headerLink" href="/tabletop/mycampaigns"><i class="fa fa-fw fa-map-signs"></i><span class="headerLinkText">My Campaigns</span></a><a class="headerLink" href="/tabletop/initiativetracker"><i class="fa fa-fw fa-list-ol"></i><span class="headerLinkText">Initiative Tracker</span></a>
						</div>
                    </div>
                </div>
                <div id="headerRightDiv">
                    <span id="headerRightText">
						<div class="headerProfile">
							{% if Username is empty %}
								<div id="headerLogin"><i class="fa fa-fw fa-sign-in"></i><span id="headerLoginText">Login</span></div>
							{% else %}
								<div><i class="fa fa-fw fa-user-o"></i><span id="headerUsername">{{ Username }}</span></div>
								<div class="headerProfileNav">
									<ul>
										<a href="/account/profile.php"><li id="headerProfile"><i class="fa fa-fw fa-gear"></i> Settings</li></a>
										<li id="headerLogout"><i class="fa fa-fw fa-sign-out"></i> Logout</li>
									</ul>
								</div>
							{% endif %}
						</div>
                    </span>
                </div>
            </div>

            <div id="main">
                {% block content %}{% endblock %}
            </div>

            <div id="footer">
                <div id="footerLeft">
                    <i class="fa fa-copyright"></i> <span style="padding-left: 5px;">Jacob Haas {{ year }}</span>
                </div>
                <div id="footerRight">
                    <a href="/about"> ABOUT </a> | <a href="/contact"> CONTACT</a>
                </div>
            </div>
        </div>
    </div>
    
    <div id="loginDialogBox" title="Login">
        <div id="loginDialogDiv">
            <div id="loginDialogTop">
                <form id="loginForm" class="flexForm">
                    {{ flexForm.input('Username', 'loginUsername', 'text') }}
                    {{ flexForm.input('Password', 'loginPassword', 'password') }}
                    {{ flexForm.inputCheckbox('Remember Me', 'loginRemember') }}
                </form>
                <div id="loginDialogMessage"></div>
            </div>
            <div id="loginDialogBottom">
                <div id="loginDialogForgot">
                    <a href="/account/recover.php">
                        <i class="fa fa-question-circle-o"></i> Recover Account
                    </a>
                </div>
                <div id="loginDialogSignUp">
                    <a href="/account/register.php">
                        <i class="fa fa-address-book-o"></i> Register
                    </a>
                </div>
            </div>
        </div>
	</div>
	<div id="logoutDialogBox" title="Logout">
		<div id="logoutDialogMessage">
		    Are you sure you want to logout?
		</div>
	</div>
    <div id="dataRequesterDialogBox" title="Error">
        <div id="dataRequesterDialogError"></div>
		<div id="dataRequesterDialogMessage"></div>
	</div>
	{% block dialog %}{% endblock %}
</body>
</html>